@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
  $background_color : #ECF2FF;
  $primary_color: #E5D1FA;
  $secondary_color: #FFF4D2;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }

  .logo {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    outline: #E5D1FA;
    border: 1px solid #D0D0D0;
  }

  .kp {
    font-weight: 200;
    font-size: 25px;
  }

  .herosection {
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }

  .hs-header {
    font-weight: 200;
    font-size: 60px;
    line-height: 4rem;
  }
  

  .hs-subheader {
    font-weight: 100;
    font-size: 30px;
  }

  .hs-content {
    font-weight: 200;
    font-size: 20px;
  }

  .hero-image {
    width: 600px;
  }

  .button {
    width: 200px;
    height: 60px;
    border: none;
    margin: 30px 0px;
    background: $primary_color;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
  }

.button:hover {
    width: 220px;
    height: 60px;
    border: 2px solid $primary_color;
    margin: 30px 0px;
    background: none;
    outline: none;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
}

.stack-container{
  width: 100%;
  .stack-header{
    text-align: center;
    font-weight: 200;
  }
  div{
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    span{
      cursor: pointer;
      font-size: 16px;
      font-weight: 200;
      border:2px solid #E5D1FA;
      padding: 20px;
      border-radius: 10px;
    }
    span:hover{
      cursor: pointer;
      font-size: 16px;
      font-weight: 200;
      background: #E5D1FA;
      border:2px solid #E5D1FA;
      padding: 20px;
      border-radius: 10px;
    }
  }
  
}

.socials{
  width: 100%;
  .socials-header{
    font-weight: 200;
    text-align: center;
  }
  div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a{
      margin: 20px 20px;
      img{
        width: 40px;
        height: 40px;
      }
    }
  }
  
}
.project-container {
  width: 100%;
    .project-header {
        text-align: center;
    font-weight: 200;
    } 
.card-container{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 20px;
  width: 100%;
.card {
    width: 350px;
    height: auto;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    .img-container{
      width: 100%;
      .img{
        width: 100%;
        height: 320px;
        border-radius: 3px;
        object-fit: cover;
      }   
    }
    .card-content{
      padding: 10px;
      text-align: center;
      .title{
        font-weight: 300;
      }
      .summary{
        text-align: start;
        font-weight: 200;
      }
      .footer{
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
      .button{
        width: 150px;
        height: 50px;
        .demo{
          text-decoration: none;
          color: #111;
          font-size: 16px;
          padding: 10px 25px;
        }
      }
      a{
        margin: auto 0;
      }
    }
    }
  }
}

}
@media screen and (max-width : 1000px) {
  .herosection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
  @media screen and (max-width: 480px) {
    .project-container{
      .card-container{
        padding: 0;
        .card{
          width: 100%;
        }
      }
    }
    .logo {
      width: 50px;
      height: 50px;
      border-radius: 37.5px;
      outline: #E5D1FA;
      border: 1px solid #D0D0D0;
    }

    .kp {
      font-weight: 100;
      font-size: 25px;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
    }

    .herosection {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .hs-header {
      font-weight: 200;
      font-size: 30px;
      line-height: 2rem;
    }

    .hs-subheader {
      font-weight: 100;
      font-size: 18px;
    }

    .hs-content {
      font-weight: 200;
      font-size: 16px;
    }

    .hero-image {
      width: 300px;
      }
      
      .card-header {
        font-weight: 300;
        font-size: 25px;
      }
}
}
