body {
  $background_color : #ECF2FF;
  $primary_color: #E5D1FA;
  $secondary_color: #FFF4D2;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow: hidden;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }

  .logo {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    outline: #E5D1FA;
    border: 1px solid #D0D0D0;
  }

  .kp {
    font-weight: 200;
    font-size: 25px;
  }

  .herosection {
    display: flex;
    align-items: center;
  }

  .hs-header {
    font-weight: 200;
    font-size: 60px;
    line-height: 4rem;
  }

  .hs-subheader {
    font-weight: 100;
    font-size: 30px;
  }

  .hs-content {
    font-weight: 200;
    font-size: 20px;
  }

  .hero-image {
    width: 600px;
  }

  .button {
    width: 200px;
    height: 60px;
    border: none;
    margin: 30px 0px;
    background: $primary_color;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
  }

  .button:hover {
    width: 220px;
    height: 60px;
    border: 2px solid $primary_color;
    margin: 30px 0px;
    background: none;
    outline: none;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .logo {
      width: 50px;
      height: 50px;
      border-radius: 37.5px;
      outline: #E5D1FA;
      border: 1px solid #D0D0D0;
    }

    .kp {
      font-weight: 100;
      font-size: 25px;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
    }

    .herosection {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .hs-header {
      font-weight: 200;
      font-size: 30px;
      line-height: 2rem;
    }

    .hs-subheader {
      font-weight: 100;
      font-size: 18px;
    }

    .hs-content {
      font-weight: 200;
      font-size: 16px;
    }

    .hero-image {
      width: 400px;
    }
  }

}