@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
  $background_color : #ECF2FF;
  $primary_color: #E5D1FA;
  $secondary_color: #FFF4D2;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }

  .logo {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    outline: #E5D1FA;
    border: 1px solid #D0D0D0;
  }

  .kp {
    font-weight: 200;
    font-size: 25px;
  }

  .herosection {
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }

  .hs-header {
    font-weight: 200;
    font-size: 60px;
    line-height: 4rem;
  }

  .hs-subheader {
    font-weight: 100;
    font-size: 30px;
  }

  .hs-content {
    font-weight: 200;
    font-size: 20px;
  }

  .hero-image {
    width: 600px;
  }

  .button {
    width: 200px;
    height: 60px;
    border: none;
    margin: 30px 0px;
    background: $primary_color;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
  }

  .button:hover {
    width: 220px;
    height: 60px;
    border: 2px solid $primary_color;
    margin: 30px 0px;
    background: none;
    outline: none;
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    font-size: 20px;
    cursor: pointer;
  }
                .project-header {
                  font-size: 35px;
                  font-weight: 200;
                  padding: 30px;
                }
        
                .card-header {
                  font-weight: 300;
                  font-size: 30px;
                }
        
                .project-container {
                  text-align: center;
                  padding: 30px 0;
                }
        
                .pj-cards-container {
                  align-items: center;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  column-gap: 50px;
                  row-gap: 20px;
                }
        
                .pj-card {
                  padding: 20px;
                  width: 300px;
                  height: 400px;
                  box-shadow: 9px 8px 34px 2px #FFF4D2;
                  transition: 0.5s ease;
                }
        
                .pj-card:hover {
                  padding: 20px;
                  width: 300px;
                  height: 400px;
                  box-shadow: 9px 8px 34px 2px #FFF4D2;
                  -webkit-transform: scaleX(-1);
                  transform: rotate(90deg);
                  transform: scaleX(-1);
                  transition: 0.8s ease;
        
                  .card-header {
                    display: none;
                    font-weight: 300;
                    font-size: 30px;
                  }
        
                  .abt-pj {
                    text-align: start;
                    display: none;
                  }
        
                  .abt-action {
                    display: none;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    padding: 20px;
        
                  }
        
                  .git-logo {
                    transform: scaleX(-1);
                  }
        
                  .abt-li {
                    display: none;
                    padding: 5px 0;
                  }
        
                  .pj-btn {
                    width: 140px;
                    height: 50px;
                    border: none;
                    background: $primary_color;
                    font-family: 'poppins', sans-serif;
                    font-weight: 200;
                    font-size: 14px;
                    cursor: pointer;
                    transition: 0.2s ease;
                    transform: scaleX(-1);
                    text-align: center;
                  }
    
                    .pj-btn:hover {
                      width: 150px;
                      height: 50px;
                      border: 2px solid $primary_color;
                      background: none;
                      font-family: 'poppins', sans-serif;
                      font-weight: 200;
                      font-size: 14px;
                      cursor: pointer;
                      transition: 0.2s ease;
                      text-align: center;
                    }
          
                    .git-logo:hover {
                      transition: 0.1s ease;
                      transform: translate(0px, -5px);
                      cursor: pointer;
                    }
          
                    .pj-img {
                      width: 300px;
                      display: inline;
                      transform: scaleX(-1);
                    }
                    }
          
                    .git-logo:hover {
                      transition: 0.1s ease;
                      transform: translate(0px, -5px);
                      cursor: pointer;
                    }
          
                    .abt-pj {
                      text-align: start;
                    }
          
                    .abt-action {
                      display: flex;
                      justify-content: space-between;
                      padding: 20px;
                    }
          
                    .abt-li {
                      padding: 5px 0;
                    }
          
                    .pj-btn {
                      width: 140px;
                      height: 50px;
                      border: none;
                      background: $primary_color;
                      font-family: 'poppins', sans-serif;
                      font-weight: 200;
                      font-size: 14px;
                      cursor: pointer;
                      transition: 0.2s ease;
                      text-align: center;
          
                    }
          
                    .pj-img {
                      width: 300px;
                      display: none;
                    }
          
                    .pj-btn:hover {
                      width: 150px;
                      height: 50px;
                      border: 2px solid $primary_color;
                      background: none;
                      font-family: 'poppins', sans-serif;
                      font-weight: 200;
                      font-size: 14px;
                      cursor: pointer;
                      transition: 0.2s ease;
                      text-align: center;
                    }
          
                    @media screen and (max-width : 1000px) {
                      .herosection {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                      }
                    }
  @media screen and (max-width: 480px) {
    .logo {
      width: 50px;
      height: 50px;
      border-radius: 37.5px;
      outline: #E5D1FA;
      border: 1px solid #D0D0D0;
    }

    .kp {
      font-weight: 100;
      font-size: 25px;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
    }

    .herosection {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .hs-header {
      font-weight: 200;
      font-size: 30px;
      line-height: 2rem;
    }

    .hs-subheader {
      font-weight: 100;
      font-size: 18px;
    }

    .hs-content {
      font-weight: 200;
      font-size: 16px;
    }

    .hero-image {
      width: 300px;
      }
      
      .card-header {
        font-weight: 300;
        font-size: 25px;
      }
  }

}